<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Portfolio</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main-container">
        <!-- sidebar -->
        <div class="sidebar">
            <!-- profile -->
             <div class="profile">
                <img src="WhatsApp Image 2025-11-07 at 01.16.26_6cca693d.jpg">
                <h2>Shahbaz Amir</h2>
                 <p>Frontent Developer</p>
                 
             </div>
             <!-- contact -->
              <div class="contact1"></div>
              <div class="contact">
                <div class="email">
                    <h3 class="label">Email</h3>
                    <a href="mailto:hshuhhsh293@gmail.com" class="value">shahsuhhs074@gmail.com</a>
                </div>
                <div class="phone">
                    <h3 class="label">Phone</h3>
                    <a href="tel:8572......" class="value">8576......</a>
                </div>
                <div class="location">
                    <h3 class="label">Location</h3>
                    <p class="value">Jabalpur,Madhya Pradesh</p>
                </div>
              </div>

              <!-- social-media -->
               <div class="social"></div>
               <div class="social-media">
               <a href="https://x.com/ShahbazAmir17"><i class="fa-brands fa-x-twitter"></i></a>
               <a href="https://github.com/shahbazamir"><i class="fa-brands fa-github"></i></a>
               <a href="https://www.linkedin.com/in/shahbaz-amir-b02b53367/"><i class="fa-brands fa-linkedin"></i></a>
               </div>
        </div>
        <!-- main-content -->
        <div class="main-content">
            <div id="navigation">
                <nav>
                <a href="#about-me" class="color">About</a>
                <a href="#Skills">Skills</a>
                <a href="#Education">Education</a>
                <a href="#Portfolio">Portfolio</a>
                </nav>
            </div>
            <div id="about-me">
                <h2 class="heading">About Me</h2>
                <div class="line"></div>
                <p class="content">I am a creative and passionate Frontend Developer with a keen eye for detail and love for bulding beautiful, fuctional, and user-friendly Web experiencec.  My journey in Web development is a driven by a disire to turn complex problem into simple,      elegant  solutions. I specialize in modern Web          technologies and am always eager to learn and adapt to        the ever evolving digital landscape.</p>
            </div>
            <div id="Skills">
                <h2 class="heading">My Skills</h2>
                <div class="line"></div>
                <div class="grid-container">
                    <div class="item">
                        <img src="https://simpleicons.org/icons/html5.svg" alt="">
                        <h3>HTML5</h3>
                    </div>
                    <div class="item">
                       <img src="https://simpleicons.org/icons/css.svg" alt="">
                        <h3>CSS3</h3>
                    </div>
                    <div class="item">
                        <img src="https://simpleicons.org/icons/javascript.svg" alt="">
                        <h3>Javascript</h3>
                    </div>
                    <div class="item">
                        <img src="https://simpleicons.org/icons/react.svg" alt="">
                        <h3>React</h3>
                    </div>
                    <div class="item">
                       <img src="https://simpleicons.org/icons/github.svg" alt="">
                        <h3>Git & Github</h3>
                    </div>
                    <div class="item">
                        <img src="https://simpleicons.org/icons/typescript.svg" alt="">
                        <h3>Typescript</h3>
                    </div>
                </div>
            </div>
            <div id="Education">
                <h2 class="heading">Education</h2>
                <div class="line"></div>
                <div class="edtech">
                    <div class="edfirst">
                        <div class="year">2023-2027</div>
                        <h3 class="Degree">Bachelor of Technology in CSE</h3>
                        <p class="college">Shree Ram Institute of Technology</p>
                        <p class="work">Focused on Data Structure and Algorithm, and Web Development, completed a final year project on building a responsive e-commerce platform</p>
                        <div class="goal"></div>
                    </div>
                    <div class="edsecond">
                         <div class="year">2020-2022</div>
                        <h3 class="Degree">Mathematic,Physics and Chemistry</h3>
                        <p class="college">Muslim Inter college Mau</p>
                        <p class="work">Focused on Mathematics and Physics and Chemistry and Focused on English communication and speaking and I was preparing for Entrance Exam</p>
                        <div class="goal"></div>
                    </div>
                    <div class="liner"></div>
                </div>
            </div>
            <div id="Portfolio">
                 <h2 class="heading">Portfolio</h2>
                <div class="line"></div>
                <div class="project-container">
                    <div class="project">
                        <img src="minimalist-best-laptop-for-coding-glt27d3cmfygaipy.webp" alt="">
                        <div class="card">
                            <h3>E-Commerce Website</h3>
                            <p>A fully responsive online store built with modern design principles</p>
                            <span>HTML</span><span>CSS</span>
                        </div>
                    </div>
                    <div class="project">
                         <img src="business-page-qr-code-1.jpeg" alt="">
                        <div class="card">
                            <h3>Business Landing Page</h3>
                            <p>A sleek, single-page site for a corporate client to generate leads.</p>
                            <span>HTML</span><span>CSS</span><span>Flexbox</span>
                        </div>
                    </div>
                    <div class="project">
                         <img src="screen-shot-2019-04-05-at-8.48.54-am.png" alt="">
                        <div class="card">
                            <h3>Analytics Dashboard UI</h3>
                            <p>A data visualization dashboard UI created with CSS Grid </p>
                            <span>Grid</span><span>UI/UX</span>
                        </div>
                    </div>
                    <div class="project">
                         <img src="images.jpg" alt="">
                        <div class="card">
                            <h3>Prosonal Blog Theme</h3>
                            <p>A clean, content-focused blog theme designed for readability.</p>
                            <span>HTML</span><span>CSS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>
